In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
data=pd.read_csv(r"C:\Users\KATYAYANI\Downloads\all_grains_data.csv")

In [4]:
data

      ticker commodity        date     open     high      low    close  volume
0       ZC=F      Corn  2000-07-17   182.25   182.25   178.25   179.25   19385
1       ZC=F      Corn  2000-07-18   179.00   183.25   179.00   180.75   25205
2       ZC=F      Corn  2000-07-19   180.00   182.75   178.75   182.00   17126
3       ZC=F      Corn  2000-07-20   181.50   187.00   181.00   186.00   18742
4       ZC=F      Corn  2000-07-21   185.50   188.00   185.00   187.75   16814
...      ...       ...         ...      ...      ...      ...      ...     ...
34878   ZS=F   Soybean  2023-09-11  1352.50  1352.50  1352.00  1352.50      36
34879   ZS=F   Soybean  2023-09-12  1348.75  1348.75  1331.75  1331.75     274
34880   ZS=F   Soybean  2023-09-13  1325.50  1336.00  1325.50  1336.00     201
34881   ZS=F   Soybean  2023-09-14  1343.75  1343.75  1343.75  1343.75  138778
34882   ZS=F   Soybean  2023-09-15  1360.50  1367.75  1338.25  1340.25  138778

[34883 rows x 8 columns]

In [5]:
data["date"]=pd.to_datetime(data["date"])

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34883 entries, 0 to 34882
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ticker     34883 non-null  object
 1   commodity  34883 non-null  object
 2   date       34883 non-null  datetime64[ns]
 3   open       34883 non-null  float64
 4   high       34883 non-null  float64
 5   low        34883 non-null  float64
 6   close      34883 non-null  float64
 7   volume     34883 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(1), object(2)
memory usage: 2.1+ MB

In [7]:
#1.Which commodity was having the highest opening price for the day
a=data["open"].max()
data.loc[data["open"]==a,["commodity","open","date"]]


#in this question we analized for highest opening price and date.
#here i taken three columns that date,open,commodity columns to get highest price for the day.
#by doing analysis based on all commodity rough rice had the highest price on 2008-04-24.

        commodity    open       date
19437  Rough Rice  2435.0 2008-04-24

In [8]:
#2.Which commodity price reached  maximum during the trading session.
a=data["high"].max()
data.loc[data["high"]==a,["commodity","high"]]

#by analyzing the commodity column and high column i found maximum commodity is "rough rice" had reached maximum trade.

        commodity    high
19437  Rough Rice  2468.5

In [9]:
#3.What is the average Market's opening price for the Oat in 2010
data.loc[(data["date"].dt.year==2010) & (data["commodity"]=="Oat"),["open"]].mean()

#by analyzing the commodity,date and open column to know the oat average price in 2010 is 275.116071

open    275.116071
dtype: float64

In [27]:
#4.What is the maximum and minimum Number of contracts traded during the 2009
a=data.loc[data["date"].dt.year==2009,["volume"]].min()
b=data.loc[data["date"].dt.year==2009,["volume"]].max()
print(a)
print(b)
# by analyzing date and volume columns we find that maximum trade in 2009 is "252221".
# by analyzing date and volume columns we find that minimum trade in 2009 is "0".

volume    0
dtype: int64
volume    252221
dtype: int64

In [11]:
#5.Which year have  maximum and minimum Number of contracts traded 
a=data["volume"].max()
b=data["volume"].min()
x=data.loc[data["volume"]==a,["date"]]
y=data.loc[data["volume"]==b,["date"]]
print("MAXIMUm\n",x)
print("MINIMUM\n",y)

# By analyzing the volume and date column we find  that in 2017-06-07 having the maximum contracts traded with 4216.
# By analyzing the volume and date column we find  that in 821   2003-12-11
#1328  2005-12-13
#4486  2018-07-03
#4528  2018-08-31
#5682  2023-04-06
...          ...
#29219 2001-03-13
#30306 2005-07-12
#33573 2018-07-03
#33615 2018-08-31
#34771 2023-04-06 having the minimum contracts trades.

MAXIMUm
            date
4216 2017-06-07
MINIMUM
             date
821   2003-12-11
1328  2005-12-13
4486  2018-07-03
4528  2018-08-31
5682  2023-04-06
...          ...
29219 2001-03-13
30306 2005-07-12
33573 2018-07-03
33615 2018-08-31
34771 2023-04-06

[2812 rows x 1 columns]

In [20]:
#6.Which commodity have the average lowest opening price around 2001 to 2005 
a=data.loc[(data["date"].dt.year>=2001) & (data["date"].dt.year<=2005),["commodity","open","date"]]
k=a.groupby("commodity")
a=k[["open"]].min()
a


# by analyzing that commodity,open and date column we known that "soybean oil" had lowest price with 14.40rs since 2001 to 2005.

                open
commodity
Corn          186.25
KC HRW Wheat  272.25
Oat            99.50
Rough Rice    343.00
Soybean       418.00
Soybean Oil    14.40

In [22]:
#7.Which commodity have the best average  Market's closing price
a=data.groupby("commodity")
b=a["close"].mean()
b["Rough Rice"]

# By analyzing commodity and close column we found that "Rough rice" having best average market's closing price.

1143.607924888165

In [26]:
#8.Which year corn have the highest and lowest Number of contracts traded
a=data["volume"].max()
b=data["volume"].min()
k=data.loc[(data["volume"]==a) & (data["commodity"]=="Corn"),["date"]]
l=data.loc[(data["volume"]==b) & (data["commodity"]=="Corn"),["date"]]
print("maximum trade for corn",k)
print()
print("minimum trade for corn",l)
# by analyzing commodity and volume column we found that on 2017-06-07 corn having maximum trade.
#by analyzing commodity and volume column we found that on 821  2003-12-11
#1328 2005-12-13
#4486 2018-07-03
#4528 2018-08-31
#5682 2023-04-06 corn having minimum trade.

maximum trade for corn            date
4216 2017-06-07

minimum trade for corn            date
821  2003-12-11
1328 2005-12-13
4486 2018-07-03
4528 2018-08-31
5682 2023-04-06