In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
data=pd.read_csv(r"C:\Users\KATYAYANI\Downloads\imdb_anime.csv")

In [5]:
data

,Title,Genre,User Rating,Number of Votes,Runtime,Year,Summary,Stars,Certificate,Metascore,Gross,Episode,Episode Title
0,One Piece,"Animation, Action, Adventure",8.9,"187,689",24 min,(1999– ),Follows the adventures of Monkey D. Luffy and ...,"Mayumi Tanaka,Laurent Vernin,Akemi Okamura,Ton...",TV-14,NaN,187689,0,NaN
1,Teenage Mutant Ninja Turtles: Mutant Mayhem,"Animation, Action, Adventure",7.4,"28,895",99 min,(2023),The film follows the Turtle brothers as they w...,NaN,PG,74,28895,0,NaN
2,The Super Mario Bros. Movie,"Animation, Adventure, Comedy",7.1,"189,108",92 min,(2023),A plumber named Mario travels through an under...,NaN,PG,46,189108,0,NaN
3,Attack on Titan,"Animation, Action, Adventure",9.1,"434,457",24 min,(2013–2023),After his hometown is destroyed and his mother...,"Josh Grelle,Bryce Papenbrook,Yûki Kaji,Yui Ish...",TV-MA,NaN,434457,0,NaN
4,Jujutsu Kaisen,"Animation, Action, Adventure",8.5,"82,909",24 min,(2020– ),A boy swallows a cursed talisman - the finger ...,"Junya Enoki,Yûichi Nakamura,Adam McArthur,Yuma...",TV-MA,NaN,82909,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45712,Demon Slayer: Kimetsu no Yaiba,"Animation, Action, Adventure",7.3,"3,432",24 min,(2019– ),Tanjiro heads to his next location southeast; ...,NaN,TV-14,NaN,3432,1,Tsuzumi Mansion
45713,Demon Slayer: Kimetsu no Yaiba,"Animation, Action, Adventure",7.9,"3,309",24 min,(2019– ),Tanjiro gets separated from Zenitsu when he en...,NaN,TV-MA,NaN,3309,1,"The Boar Bares Its Fangs, Zenitsu Sleeps"
45714,One Piece,"Animation, Action, Adventure",9.4,"2,743",NaN,(1999– ),Carrot tells Sanji the news about Pedro. Germa...,"Mayumi Tanaka,Tom Henry,Masako Katsuki,Mami Ko...",TV-14,NaN,2743,1,Time for Farewell! Pudding's One Last Request!
45715,Marmalade Boy,"Animation, Comedy, Drama",NaN,NaN,24 min,(1994–2005),NaN,"Ogie Banks,Deborah Sale Butler,John DeMita,Ric...",Not Rated,NaN,NaN,1,Hijiri naru yoru (ivu nanoni hitori bocchi...)
45716,Cinderella Nine,"Animation, Drama, Sport",6.0,6,24 min,(2019– ),On her very first day at Satogahama Municipal ...,NaN,NaN,NaN,6,1,Play Ball!

In [6]:
data1=data.copy()

In [7]:
data1

,Title,Genre,User Rating,Number of Votes,Runtime,Year,Summary,Stars,Certificate,Metascore,Gross,Episode,Episode Title
0,One Piece,"Animation, Action, Adventure",8.9,"187,689",24 min,(1999– ),Follows the adventures of Monkey D. Luffy and ...,"Mayumi Tanaka,Laurent Vernin,Akemi Okamura,Ton...",TV-14,NaN,187689,0,NaN
1,Teenage Mutant Ninja Turtles: Mutant Mayhem,"Animation, Action, Adventure",7.4,"28,895",99 min,(2023),The film follows the Turtle brothers as they w...,NaN,PG,74,28895,0,NaN
2,The Super Mario Bros. Movie,"Animation, Adventure, Comedy",7.1,"189,108",92 min,(2023),A plumber named Mario travels through an under...,NaN,PG,46,189108,0,NaN
3,Attack on Titan,"Animation, Action, Adventure",9.1,"434,457",24 min,(2013–2023),After his hometown is destroyed and his mother...,"Josh Grelle,Bryce Papenbrook,Yûki Kaji,Yui Ish...",TV-MA,NaN,434457,0,NaN
4,Jujutsu Kaisen,"Animation, Action, Adventure",8.5,"82,909",24 min,(2020– ),A boy swallows a cursed talisman - the finger ...,"Junya Enoki,Yûichi Nakamura,Adam McArthur,Yuma...",TV-MA,NaN,82909,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45712,Demon Slayer: Kimetsu no Yaiba,"Animation, Action, Adventure",7.3,"3,432",24 min,(2019– ),Tanjiro heads to his next location southeast; ...,NaN,TV-14,NaN,3432,1,Tsuzumi Mansion
45713,Demon Slayer: Kimetsu no Yaiba,"Animation, Action, Adventure",7.9,"3,309",24 min,(2019– ),Tanjiro gets separated from Zenitsu when he en...,NaN,TV-MA,NaN,3309,1,"The Boar Bares Its Fangs, Zenitsu Sleeps"
45714,One Piece,"Animation, Action, Adventure",9.4,"2,743",NaN,(1999– ),Carrot tells Sanji the news about Pedro. Germa...,"Mayumi Tanaka,Tom Henry,Masako Katsuki,Mami Ko...",TV-14,NaN,2743,1,Time for Farewell! Pudding's One Last Request!
45715,Marmalade Boy,"Animation, Comedy, Drama",NaN,NaN,24 min,(1994–2005),NaN,"Ogie Banks,Deborah Sale Butler,John DeMita,Ric...",Not Rated,NaN,NaN,1,Hijiri naru yoru (ivu nanoni hitori bocchi...)
45716,Cinderella Nine,"Animation, Drama, Sport",6.0,6,24 min,(2019– ),On her very first day at Satogahama Municipal ...,NaN,NaN,NaN,6,1,Play Ball!

In [8]:
data1.fillna({"Title":"no title","Genre":"no genre","User Rating":0,"Number of Votes":0,"Runtime":"10","Year":0,"Summary":"no summary","Stars":"no stars","Certificate":"no certificate","Metascore":0,"Gross":10,"Episode":0,"Episode Title":"no"},inplace=True)

In [9]:
data1.replace({"User Rating":{"User Rating":0},"Number of Votes":{"Number of Votes":0},"Runtime":{"Runtime":"10"},"Metascore":{"Metascore":0},"Gross":{"Gross":10},"Episode":{"Episode":0}},inplace=True)

In [10]:
data1=data1.astype({"User Rating":np.float16,"Metascore":int,"Gross":int,"Episode":int})

In [11]:
def func(x):
    return x.replace(" min","")
def f(x):
    return int(x)
def f1(x):
    return x.replace(",","")
data1["Runtime"]=data1["Runtime"].map(func).map(f1).map(f)

In [12]:
def func(x):
    return x.replace(" min","")
def f(x):
    return int(x)
def f1(x):
    return x.replace(",","")
def f2(x):
    return str(x)
data1["Number of Votes"]=data1["Number of Votes"].map(f2).map(func).map(f1).map(f)

In [13]:
#1.How many unique anime are there?
len(data["Title"].unique())

# By analyzing title column i found that 9851 unique anime are there in the data set.

9851

In [14]:
#2.Which anime has the highest rating?
a=data1["User Rating"].max()
b=data1.loc[data1["User Rating"]==a,["Title"]]
print(b) 

# by analyzing the data i got highest rating anime they are: 
#13656                    Idaten Jump
#17874                   Vinland Saga
#22753                Attack on Titan
#34677                Hunter x Hunter
#39614  Legend of the Galactic Heroes
#45689                Attack on Titan

                               Title
13656                    Idaten Jump
17874                   Vinland Saga
22753                Attack on Titan
34677                Hunter x Hunter
39614  Legend of the Galactic Heroes
45689                Attack on Titan

In [17]:
#3.Which anime has a rating between 7.0 to 9.0?
a=data1.loc[(data1["User Rating"]>=7.0) & (data1["User Rating"]<=9),["Title"]]
a

# by analyzing the data i found that which anime rating is between 7.0 and 9.0.

                                             Title
0                                        One Piece
1      Teenage Mutant Ninja Turtles: Mutant Mayhem
2                      The Super Mario Bros. Movie
4                                   Jujutsu Kaisen
6                   Demon Slayer: Kimetsu no Yaiba
...                                            ...
45709               Demon Slayer: Kimetsu no Yaiba
45710               Demon Slayer: Kimetsu no Yaiba
45711               Demon Slayer: Kimetsu no Yaiba
45712               Demon Slayer: Kimetsu no Yaiba
45713               Demon Slayer: Kimetsu no Yaiba

[15655 rows x 1 columns]

In [16]:
#4.Which anime has the lowest runtime?
a=data1["Runtime"].min()
b=data1.loc[data1["Runtime"]==a,["Title"]]
print(b)

#by analyzing the data 
#2809                   Ani*Kuri15
#3588                Henkei Shoujo
#3708   Gloomy the Naughty Grizzly
#4548                      Usavich
#4792                 Tokino Kousa
#...                           ...
#23772  Gloomy the Naughty Grizzly
#23773  Gloomy the Naughty Grizzly
#23774  Gloomy the Naughty Grizzly
#23775  Gloomy the Naughty Grizzly
#33433                  Ani*Kuri15 i find this anime has lowest runtime.

                            Title
2809                   Ani*Kuri15
3588                Henkei Shoujo
3708   Gloomy the Naughty Grizzly
4548                      Usavich
4792                 Tokino Kousa
...                           ...
23772  Gloomy the Naughty Grizzly
23773  Gloomy the Naughty Grizzly
23774  Gloomy the Naughty Grizzly
23775  Gloomy the Naughty Grizzly
33433                  Ani*Kuri15

[149 rows x 1 columns]

In [16]:
#4.Which anime has the highest runtime?
a=data1["Runtime"]
b=a.max()
c=data1.loc[a==b,["Title","Runtime"]]
c

# BY analyzing the data i got 2798 The Wonderful Wizard of Oz 1271 had the highest runtime.

                           Title  Runtime
2798  The Wonderful Wizard of Oz     1271

In [20]:
#5.What is the runtime difference between one Piece and the super mario bros movie?
r=data1.loc[data1["Title"]=="One Piece",["Runtime"]].sum()
k=data1.loc[data1["Title"]=="The Super Mario Bros. Movie",["Runtime"]].sum()
print(r-k)

# By analyzing the data i finded that runtime difference between one Piece and the super mario bros movie is 11249.

Runtime    11249
dtype: int64

In [ ]:
#6.Which is the oldest anime?
#not getting

In [ ]:
#7. List all the anime that were released in the year 2023.
# not getting

In [18]:
#9.Which anime has the lowest gross price?
a=data1["Gross"].min()
b=data1.loc[data1["Gross"]==a,["Title"]]
print(b)

# By analyzing the data i finded that 
#3233                                          Show Time!
#5620                                   The Peasant Noble
#5714   Meitantei Conan Magic File 4: Osaka okonomiyak...
#6142   Fist of the North Star Legennd of Heroes - Spe...
#6236                                     Shakotan Boogie
#...                                                  ...
#45600                                    Girl Beats Boys
#45601                                    Girl Beats Boys
#45602                                    Girl Beats Boys
#45606                                    Girl Beats Boys
#45608                                    Girl Beats Boys these animes has the lowest gross price.

                                                   Title
3233                                          Show Time!
5620                                   The Peasant Noble
5714   Meitantei Conan Magic File 4: Osaka okonomiyak...
6142   Fist of the North Star Legennd of Heroes - Spe...
6236                                     Shakotan Boogie
...                                                  ...
45600                                    Girl Beats Boys
45601                                    Girl Beats Boys
45602                                    Girl Beats Boys
45606                                    Girl Beats Boys
45608                                    Girl Beats Boys

[168 rows x 1 columns]

In [19]:
#10Which anime has the highest gross price?
a=data1["Gross"].max()
b=data1.loc[data1["Gross"]==a,["Title"]]
print(b)

# By analyzing the data i finded that
#47   WALL·E
#888  WALL·E two animes had the highest gross price.

      Title
47   WALL·E
888  WALL·E

In [23]:
#11.How many anime have the PG certification?
d=data1.loc[data1["Certificate"]=="PG",["Title"]]
len(d)
d



# By analyzing the cerificate column i finded that 425 animes got pg cerifications.

                                             Title
1      Teenage Mutant Ninja Turtles: Mutant Mayhem
2                      The Super Mario Bros. Movie
7                     Puss in Boots: The Last Wish
11                                        Coraline
17                                          Sing 2
...                                            ...
41231                         You're Under Arrest!
41232                         You're Under Arrest!
41233                         You're Under Arrest!
41234                         You're Under Arrest!
41235                         You're Under Arrest!

[425 rows x 1 columns]

In [21]:
#12.What is the average number of votes in your dataset
data1["Number of Votes"].mean()

# by doing the mean i finded that average number of votes in my data set.

1632.1920510969662