In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
data=pd.read_csv(r"C:\Users\KATYAYANI\Downloads\cleaned_all_phones.csv")

In [4]:
data

,phone_name,brand,os,inches,resolution,battery,battery_type,ram(GB),announcement_date,weight(g),...,video_1080p,video_4K,video_8K,video_30fps,video_60fps,video_120fps,video_240fps,video_480fps,video_960fps,price(USD)
0,Y6II Compact,Huawei,Android 5.1,5.00,720x1280,2200,Li-Po,2,2016-09-01,140.0,...,False,False,False,True,False,False,False,False,False,120.000
1,K20 plus,LG,Android 7.0,5.30,720x1280,2700,Li-Ion,2,2016-12-01,140.0,...,True,False,False,True,False,False,False,False,False,100.000
2,P8 Lite (2017),Huawei,Android 7.0,5.20,1080x1920,3000,Li-Ion,4,2017-01-01,147.0,...,True,False,False,True,False,False,False,False,False,420.000
3,Redmi Note 4,Xiaomi,Android 6.0,5.50,1080x1920,4100,Li-Po,4,2017-01-01,165.0,...,True,False,False,True,False,True,False,False,False,150.000
4,P10,Huawei,Android 7.0,5.10,1080x1920,3200,Li-Ion,4,2017-02-01,145.0,...,True,True,False,True,True,False,False,False,False,420.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1507,vivo Y77t,Vivo,Android 13,6.64,1080x2388,5000,Li-Po,8,2023-08-18,190.0,...,True,False,False,True,False,False,False,False,False,170.000
1508,11x,Realme,Android 13,6.72,1080x2400,5000,Li-Po,8,2023-08-23,190.0,...,True,False,False,True,False,False,False,False,False,182.880
1509,GT5,Realme,Android 13,6.74,1240x2772,5240,Li-Po,16,2023-08-28,205.0,...,True,True,False,False,True,False,False,False,False,380.000
1510,GT5 240W,Realme,Android 13,6.74,1240x2772,4600,Li-Po,24,2023-08-28,205.0,...,True,True,False,False,True,False,False,False,False,470.000
1511,vivo iQOO Z7 Pro,Vivo,Android 13,6.78,1080x2400,4600,Li-Po,8,2023-08-31,175.0,...,True,True,False,True,False,False,False,False,False,287.988

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1512 entries, 0 to 1511
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   phone_name         1512 non-null   object
 1   brand              1512 non-null   object
 2   os                 1512 non-null   object
 3   inches             1512 non-null   float64
 4   resolution         1512 non-null   object
 5   battery            1512 non-null   int64
 6   battery_type       1512 non-null   object
 7   ram(GB)            1512 non-null   int64
 8   announcement_date  1512 non-null   object
 9   weight(g)          1512 non-null   float64
 10  storage(GB)        1512 non-null   int64
 11  video_720p         1512 non-null   bool
 12  video_1080p        1512 non-null   bool
 13  video_4K           1512 non-null   bool
 14  video_8K           1512 non-null   bool
 15  video_30fps        1512 non-null   bool
 16  video_60fps        1512 non-null   bool
 17  video_120fps       1512 non-null   bool
 18  video_240fps       1512 non-null   bool
 19  video_480fps       1512 non-null   bool
 20  video_960fps       1512 non-null   bool
 21  price(USD)         1512 non-null   float64
dtypes: bool(10), float64(3), int64(3), object(6)
memory usage: 156.6+ KB

In [6]:
data.describe()

,inches,battery,ram(GB),weight(g),storage(GB),price(USD)
count,1512.000000,1512.000000,1512.000000,1512.000000,1512.000000,1512.000000
mean,6.422460,4389.798942,6.683862,187.636243,109.164683,337.847036
std,0.477043,784.607022,2.701433,26.200115,74.436484,266.740821
min,3.800000,1821.000000,1.000000,130.000000,1.000000,40.000000
25%,6.300000,4000.000000,4.000000,175.000000,64.000000,179.997500
50%,6.500000,4500.000000,8.000000,187.000000,128.000000,260.000000
75%,6.670000,5000.000000,8.000000,197.250000,128.000000,400.000000
max,10.400000,7250.000000,24.000000,500.000000,512.000000,2300.000000

In [7]:
#1.how many unique mobile brands are there
k=data["brand"].unique()

# By analyzing the brands column we find that 13 branded mobiles is there in data set.

In [8]:
len(k)

13

In [9]:
#2.what is the average ram in all the mobiles
data[("ram(GB)")].mean()

# By analyzing ram column we find that average ram for all the mobiles is "6.68386..."

6.6838624338624335

In [10]:
#3.what is the ph name having maximum battery
a=data["battery"].max()
data.loc[data["battery"]==a,["phone_name"]]

# By analyzing the battery and phone name column we find that "v6" having the maximum battery.

    phone_name
573         V6

In [11]:
#3.what is the ph name having minum battery
a=data["battery"].min()
data.loc[data["battery"]==a,["phone_name"]]

#By analyzing the battery and phone name column we find that "v6" having the manimum battery.

           phone_name
62           iPhone 8
536  iPhone SE (2020)

In [12]:
#4.What is the maximum battery capacity provided by Huawei Company
a=data.loc[data["brand"]=="Huawei",["battery"]].max()
print(a)

# By analyzing the brand and battery columns i found that huawei company providing maximum battery with 7000.

battery    7000
dtype: int64

In [13]:
#5.Which Phone brand is providing the highest and lowest ram
a=data["ram(GB)"].min()
b=data.loc[data["ram(GB)"]==a,["phone_name","brand","ram(GB)"]]
c=data["ram(GB)"].max()
d=data.loc[data["ram(GB)"]==c,["phone_name","brand","ram(GB)"]]
print("PHONE BRANDS WITH LOWEST RAM\n",b)
print("PHONE BRANDS WITH HIGHEST RAM\n",d)


#By analyzing phone_name,brand and ram columns i find that 
#1505  Redmi K60 Ultra   Xiaomi       24
#1506        Ace 2 Pro  OnePlus       24
#1510         GT5 240W   Realme       24 having highest ram.
#By analyzing phone_name,brand and ram columns i find that 
#               phone_name    brand  ram(GB)
#27               Y3 (2017)   Huawei        1
#28                      Z4  Samsung        1
#69        Galaxy J2 (2017)  Samsung        1
#133              Y3 (2018)   Huawei        1
#182         Galaxy J2 Core  Samsung        1
#230         Galaxy J4 Core  Samsung        1
#236         Y5 lite (2018)   Huawei        1
#244               Redmi Go   Xiaomi        1
#304         Galaxy A2 Core  Samsung        1
#363             K20 (2019)       LG        1
#550  Galaxy J2 Core (2020)  Samsung        1 having the lowest ram.

PHONE BRANDS WITH LOWEST RAM
                 phone_name    brand  ram(GB)
27               Y3 (2017)   Huawei        1
28                      Z4  Samsung        1
69        Galaxy J2 (2017)  Samsung        1
133              Y3 (2018)   Huawei        1
182         Galaxy J2 Core  Samsung        1
230         Galaxy J4 Core  Samsung        1
236         Y5 lite (2018)   Huawei        1
244               Redmi Go   Xiaomi        1
304         Galaxy A2 Core  Samsung        1
363             K20 (2019)       LG        1
550  Galaxy J2 Core (2020)  Samsung        1
PHONE BRANDS WITH HIGHEST RAM
            phone_name    brand  ram(GB)
1505  Redmi K60 Ultra   Xiaomi       24
1506        Ace 2 Pro  OnePlus       24
1510         GT5 240W   Realme       24

In [14]:
#6.How many phones has android 7.0 as there operating system
len(data.loc[data["os"]=="Android 7.0",["phone_name","os"]])

# By analyzing the brand and android column i found that 33 phones having android 7.0 as there operating system.

33

In [15]:
#7.Which Phone is the oldest 
d=data["announcement_date"].values
data.loc[data["announcement_date"]==d[0],["brand","announcement_date"]]

# by analyzing the brand and announment_date column i found that huawei brand phone is the oldest phone.

    brand announcement_date
0  Huawei        2016-09-01

In [18]:
#8.Which brand produced maximum number of phone in the given data
g=data.groupby("brand")
a=g[["phone_name","brand"]].count()
a.loc["Xiaomi"]

# By analyzing brand and phone_name colums i find that "xiamoi" brand produced maximum number of phones.

phone_name    264
brand         264
Name: Xiaomi, dtype: int64

In [18]:
#10.How many phones supports Li-Po and Li-ion Battery
a=data.loc[data["battery_type"]=="Li-Po",["phone_name"]].count()
b=data.loc[data["battery_type"]=="Li-Ion",["phone_name"]].count()
print(a)
print(b)


#by analyzing that price(usd) and brand columns i find that  1242 branded phone supports Li-Po Battery.
#by analyzing that price(usd) and brand columns i find that  270 branded phone supports Li-Ion Battery.

phone_name    1242
dtype: int64
phone_name    270
dtype: int64

In [22]:
#11.How many sony phones supports 720x1280 resolution
a=data.loc[data["resolution"]=="720x1280",["phone_name"]].count()
print(a)

# By analyzing resolutions column i find that 41 phones supports 720x1280 resolution.

phone_name    41
dtype: int64

In [12]:
#12 Print a pivot table for finding the average weights ,total weights,based on brand and battery type
pd.pivot_table(data,index="brand",columns="battery_type",values=["weight(g)"],aggfunc=["mean"])

# By using aggregation function we can find the heights and weights based on brand and battery type.

                    mean
               weight(g)
battery_type      Li-Ion       Li-Po
brand
Apple         186.227273         NaN
Google        190.666667  176.923077
Honor         165.333333  190.611570
Huawei        158.354839  187.556604
LG            154.851852  183.812500
Lenovo        190.142857  218.586207
OnePlus              NaN  191.553191
Oppo          157.833333  183.174603
Realme        166.833333  189.688742
Samsung       178.531250  196.727273
Sony          177.333333  178.769231
Vivo                 NaN  190.232143
Xiaomi        179.294118  195.906883